.headerContainer {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
}
/* Dropdown Button */
.dropbtn {
  /* background-color: #868686; */
  color: black;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  border: none;
  border: solid black 1px;
  display: flex;
  align-items: center;
}
.downCaret {
  font-weight: 100;
  margin-left: 10px;
  font-size: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  background-color: #868686;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdownContainer {
  display: flex;
  align-items: center;
}
.dropdownMainContainer {
  justify-content: flex-end;
  display: flex;
}

.dropdownContainer h3 {
  margin-right: 10px;
}
